@model IEnumerable<JobSearchOrganizer.Models.InterviewNoteListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="input-group">
    <div class="d-flex">
        <input class="form=control me-2" type="search" placeholder="Search" aria-label="Search">
        @*@Html.ActionLink("InterviewNote", "GetInterviewNoteByCompany", new { id = item.interviewNoteByCompany })*@
        <button class="btn btn-outline-success" type="submit">Search</button>
        <i class="fas fa-search"></i>
        </button>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InterviewNoteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitleInterviewedFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyInterviewedFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InterviewNoteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitleInterviewedFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyInterviewedFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InterviewNoteId }) |
                @Html.ActionLink("Details", "Details", new { id = item.InterviewNoteId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InterviewNoteId })
            </td>
        </tr>
    }

</table>
